header{width: 100%;
        height: 80px;
        background:#f1f1f1;
     position: relative;
}
#container{background-color:#fff;
        width: 100%;
        min-height: 1000px;

}
#input {width:  40.5em;
        height:2.9em;
      
        margin-left: 150px;
        position: relative;
        margin-top: 10px;
       
        
}
#input input[type="text"]{height: 30px;
	width: 580px;
        margin-top: 10px;
	border:1px solid rgba(0,0,0,.2);
	padding: 2%;
	background-image: url(./images/arrow.png);
	background-repeat: no-repeat;
	background-size: 4.5%;
	background-position: right;
	box-sizing:border-box;
	font-size: 16px;
                       
                       
                       
}
#input input[type="submit"]{width: 60px;
	background-color:#4683ea;
	height: 30px;
	color: transparent;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border:none;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;

}


 





                   


#logo{
        
    position:absolute;
    height: 200px;
    width: 200px;
    top: 1px;
    float: left;
    
        
}

#logo img{width:80px;
height: 40px;

margin: 15px 0 15px 20px;
    
}
header #me{width: 100px;
           height: 100px;
           float: right;
           margin-right: 20px;
           margin-top: -50px;
}
header #me img{border-radius: 100px;
              float: right;
              margin: 10px;
              width: 30px;
               height: 30px;
              
  
  }
 

                     
 
 

header #notification img{
                         width: 30px;
                         height: 30px;
                          background-color: #f1f1f1;
                          float: right;
                         margin-top: -50px;
                         margin-right: -50px;
                         padding: 10px;
                         
 


}
header #apps{width: 30px;
            height: 30px;
            float: right;

}

header #apps img{width: 30px;
                height: 30px;
                float: right;
                margin-top: -40px;
                

}
*.clear{clear: both;}


#container{width: 1024px;
           min-height: 900px;
         




}
.menu{width: 1190px;
      height: 20px;
      border:1px solid #f1f1f1;
      background-color:white;
      padding: 30px;
      position: relative;
      font-size: 20px;

}
ul.dropdown .gmail a{color: red;
         font-size: 18px;
         text-align: center;
}



ul.dropdown{outline: 1px solid cadetblue;
                padding: 0px ;

}
  ul.dropdown,ul.submenu{ float: left;;
                display: block;
                width: 80px;
                height: 20px;
                margin-top: 0px;
                margin-left: -10px;
               list-style: none;
        
}

ul.dropdown li{
             position: relative;

                       
}

ul.dropdown a{display: block;
            

              background-color: white;
              width: 80px;
              height: 20px;
              text-decoration: none;
}
ul.submenu li{background-color: lightblue;

}
ul.submenu li:hover a{background-color: lightgray;}


ul.dropdown ul.submenu{display: none;}

ul.dropdown li:hover ul.submenu {display:block;
                                
                                
}

.option  {     
               width: 100px;
                float: left;
                margin-left: 90px;
                
                padding: 0px;

}
.refresh{      width: 100px;
                margin: 0px;
                padding: 0px;

                float: left;}



 .forwardback {width: 100px;
              padding-left: 635px; 
              margin-top: -31px;
              float: left;}


  .setting{width: 100px;
              padding-left: 980px; 
              margin-top: -31px;
              float: left;}

 ul.service-list{float: left;}

   ul.service-list,.setingsublist {
    list-style-type: none;
    margin-left:0px;
    
    display: inline-block;
    position: absolute;
   
}
     .service-list img{
                        margin-top: -22px;
                        position: relative;
                        float: left;
                       
     }   

     ul.service-list li a{text-decoration:none;}
     li.imgsetting{float: left;}

    input[type="checkbox"] :before {
  border: 1px solid red;}

     ul.setingsublist{font-size: 14px;
                   
                    
                    border: 1px solid lightgray;
                    padding-left: 12px;
                    padding-top: 5px;
                   width: 152px;
                   margin-left: -167px;
     }
.setingsublist li{margin-top: 15px;
                  display: block;
                  border-radius: 1px;
                  padding:2px;
                   width: 165px;
                
                               
}
.setingsublist li:hover{background-color:#f1f1f1;}

ul.setingsublist {display: block;}

 ul.service-list li.settingsublist:hover ul.settingsublist{
                                
                                 display: block;
         
         
         }
#tab_bar{
        width: 100%;
        
        height: 50px;

}

.compose button{float: left;
         width: 110px;
         height: 30px;
         font-size: 11px;
         font-family: sans-serif;
         font-weight: bold;
         border: none;
         text-align: center;
         color: white;
         margin-top: 10px;
         margin-left: 20px;
         background-color: #d14836;
         border-radius: 1px;
         text-transform: uppercase;


}
.compose button:hover{background-color:#BA0734;
                      
}


  .primary{margin-left: 200px;
          width: 150px;
          height: 30px;
          text-align: center;
          padding: 10px;
          background-color:#f1f1f1;
           border: 1px solid gray;
          float: left;}



  .social{float: left;
         border: 1px solid gray;
          height: 30px;
          width: 200px;
          padding: 5px 0px 15px 5px;
          background-color: #f1f1f1;
          
  }





  .promotion{float: left;
          width: 200px;
           border: 1px solid gray;
          height: 30px;
          background-color: #f1f1f1;
          
          padding: 10px;
         
  
  
  }
  

   aside{width: 150px;
            height:900px;
            background-color:white;
            margin-bottom: 100px;


}

ul#drop_nav li#inbox1 a{color: red ;}
 ul#drop_nav,ul.less{list-style: none;
                        padding: 0px;
                        text-transform: capitalize;
                        text-decoration: none;
    }


ul#drop_nav ul.less{line-height: 2px;}
ul#drop_nav li{position: relative;
                width: 90px;
                margin-top: 10px;
               
            
}

 ul#drop_nav a {
                display: block;
                text-decoration:none;
                color: black;
                line-height: 1em;
                width: 85px;
                height: 70
                
 }






 ul#drop_nav li:hover > a{background-color: lightgray;

 
 }
ul#drop_nav ul.less{display:none;
                    position: absolute;
}


ul#drop_nav li:hover .less{display: block;
                            


}